@import '../../variable';

.activity_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  column-gap: $gap;
  row-gap: $gap;
  margin-left: $gap;
}