@import '../../variable';

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: max-content;
}

@media screen and (min-width: $desktop) {
  .container {
    width: 80%;
    flex-direction: row;
  }
}