@import '../../variable';

.control_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile_wrapper {
  display: flex;
  align-items: center;
  background-color: $desaturated-blue;
  border-radius: $sm-b-radius;
  padding: $md-padding;
  z-index: 1;
  flex-grow: 1;

  .avatar {
    min-width: 20px;
    min-height: 20px;
    height: 100px;
    width: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 100%;
    background-color: $white;
    margin-right: $sm-padding;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  p { color: $pale-blue; }

  .name {
    font-size: 24px;
    display: inline-block;
  }
}

.time_wrapper {
  background-color: $dark-blue;
  border-bottom-left-radius: $sm-b-radius;
  border-bottom-right-radius: $sm-b-radius;
  // height: 100%;
  // flex-grow: 1;
  margin-top: -$sm-b-radius;

  .time_control {
    margin-top: $sm-b-radius;
    display: flex;
    justify-content: space-between;
    padding: $md-padding;
  }

  .time_control .time_label {
    color: $pale-blue;
    padding-block: calc($sm-padding / 2);
  }

  .time_control .time_label:hover {
    color: $white;
    cursor: pointer;
  }

  .time_control .time_label.active {
    color: $white;
  }
}

@media screen and (min-width: $desktop) {
  .control_wrapper {
    width: 25%;
  }

  .profile_wrapper {
    flex-direction: column;
    align-items: flex-start;

    .avatar {
      width: 45%;
      height: auto;
      margin-bottom: 3rem;
      margin-right: 0;
    }

    .name {
      font-size: 32px;
    }
  }

  .time_control {
    flex-direction: column;
  }
}